<h3>Here are all the products!!</h3>

<% @products.each do |product| %>
  <%= image_tag product.image.url %>
  <p><%=link_to product.name, product_path(product) %></p>
  <hr>
<% end %>
<% if is_admin?  %>
<%= link_to 'Add New Product', new_product_path(@product) %>
<% end %>
<br>
<br>
<br>
