<h1>Review Page</h1>
<%= @review.content  %>

<br>
<hr>
<%= link_to 'Delete Review',  product_review_path(@product), :data => {:confirm => "Are you sure?",                                           :method => "delete"}, :class=>"btn btn-danger"%>
